#wrapper{
  width:1400px;
  height:800px;
}

#header{
  width:1400px;
  height:200px;
  background-color: grey;
  position: relative;
  bottom:800px;
}

#SuzanneCollins{
  width:250px;
  height:200px;
}

#mainHeader{
  position: relative;
  bottom: 940px;
  left:500px;
  font-size: 50px;
}

#facebook{
  width:75px;
  height:75px;
  margin:10px 25px 10px 25px;
  position: relative;
  left:1300px;
  bottom: 940px;
}

#twitter{
  width:75px;
  height:75px;
  margin:10px 25px 10px 25px;
  position: relative;
  left:1300px;
  bottom:940px;
}

#BoxOne
{
  width:200px;
  height:200px;
  margin:10px 25px 10px 25px;
  position: relative;
  bottom:900px;
  color: orange;
}

#hungergames{
  width: 75px;
  height: 75px;
}

#catchingfire{
  width: 75px;
  height: 75px;
}

#mockingjay{
  width: 75px;
  height: 75px;
}

#BoxTwo
{
  width:200px;
  height:100px;
  margin:10px 25px 10px 25px;
  position: relative;
  left: 500px;
  bottom: 1125px;
  color: grey;
}

#BoxThree
{
  width:150px;
  height:50px;
  margin:15px 15px 15px 15px;
  position:relative;
  left:900px;
  bottom: 1250px;
  color: orange;
}
